.espacio {
  display: block;
  height: 30px;
}

.menu {
  display: inline-block;
  position: absolute;
  left: 0;
  margin-left: 5%;
  height: 50px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  font-weight: bolder;
  text-align: center; 
  margin: 40px 0;
}

.user {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 5%;
  height: 50px;
}

.carrito {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 15%;
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.category {
  display: inline-block;
  position: relative;
  height: auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 20px;
  max-width: 300px;
  width: 100%;
  text-align: center;
  max-height: 450px;
  height: 450px;
}

.category:hover {
  background-color: #f9f9f9;
}

.img-cat {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.title-cat {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.p-cat {
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #333;
}

footer {
  height: 200px;
}
